################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mods/vs-expandedfoods/exper.dll
/mods/vs-expandedfoods/exper.pdb
